/* arrow_button의 기본 형태 */
.arrow_button{
    color: var(--color-primary);
    padding: 8px 36px;
    border: none;
    cursor: pointer;
}
/* border 가 있는 형태 */
.arrow_button.border{
    border: 1px solid var(--color-black);
}
/* rounded 형태 */
.arrow_button.rounded{
    border-radius: 20px;
}

:root{
    --main-x-padding: 52px;
    --main-y-padding: 52px;


    --main-x-sm-padding : 28px;
    --main-y-sm-padding : 28px;
}

/*************************************************/
.coupon_info_container{
    position: fixed;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: var(--font-label-lg-size);
    line-height: 30px;
    background-color: var(--color-platinum-beige);
    z-index: 99;
}
.coupon_info_container > button{
    position: absolute;
    right: 20px;
    line-height: 30px;
    background: unset;
    border: none;
}

/****************************************************/

main > .hero_section > video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/************************************************/
.trending_section{
    padding: var(--main-y-padding) var(--main-x-padding);
    overflow: hidden;
}

.trending_section > h2{
    font-size: var(--font-display-lg-mobile-size);
    font-weight: var(--font-headline-lg-weight);
    line-height: var(--font-headline-lg-line-height);
    letter-spacing: var(--font-headline-lg-letter-spacing);
}

.trending_section > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trending_section > div > ul{
    display: flex;
    margin: 16px 0;
}
.trending_section > div > ul > li{
    margin-right: 16px;
    border-bottom: 2px solid transparent;
}
.trending_section > div > ul > li.active{
    border-bottom: 2px solid black;
    & > button{
        font-weight: bold;
    }
}


.trending_section button{
    font-size: var(--font-body-lg-size);
    font-weight: var(--font-body-lg-weight);
    background: unset;
    border: none;
    cursor: pointer;
}


.trending_section > ul{
    display: inline-flex;
    overflow: hidden;
}
.trending_section > ul > li{
    width: 250px;
    margin-right: 8px;
}
.trending_section > ul > li > a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--color-black);
}
.trending_section .image_container > img{
    width: 100%;
}
.trending_section .tag{
    font-size: var(--font-body-md-size);
    color: var(--color-secondary);
    margin: 2px 0;
}
.trending_section .title{
    font-size: var(--font-body-lg-size);
    color: var(--color-primary);
    margin: 2px 0;
}
.trending_section .price{
    font-size: var(--font-body-lg-size);
    color: var(--color-primary);
}
/************************************************/
.edit_section{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 80px;
    background-color: black;
    align-items: stretch;

}
.edit_section > h2{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 240px;
    font-weight: 500;
    letter-spacing: var(--font-body-lg-letter-spacing);
    color: white;
}

.edit_section > div{
    padding: 60px;
}

.edit_section > .image_container{
    position: relative;
    flex: 1;
}
.edit_section img.main{
    width: 70%;
    height: 100%;
    object-fit: cover;
}
.edit_section img.sub{
    position: absolute;
    top: 50%;
    right: 0;
    width: 40%;
    height: 50%;
    object-fit: cover;
    transform: translateY(-50%);
}
.edit_section > .label_container{
    display: flex;
    flex: 1;
    align-items: center;
    /*background-color: beige;*/
    min-width: 0;
    container-type: inline-size;
}

.edit_section > .label_container a{
    font-size: 52px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
/************************************************/
.information1_section{
    padding: var(--main-y-padding) var(--main-x-padding);
}

.information1_section h2{
    font-size: var(--font-display-lg-size);
    margin-bottom: 24px;
}
.information1_section > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1000px;
    gap: 24px;
}
.information1_section a{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.information1_section .information{
    position: absolute;
    bottom: 0;
    color: white;
    padding: 32px;
}
.information1_section .information > h3{
    font-size: var(--font-display-lg-size);
    margin-bottom: 16px;
}
.information1_section .information > p{
    font-size: 32px;
}
.information1_section button{
    position: absolute;
    right: 32px;
    bottom: 32px;
    font-size: var(--font-body-lg-size);
}
/***********************************************/
.information2_section{
    display: flex;
    height: 480px;
    background-color: beige;
}
.information2_section img.logo{
    width: 60px;
    height: 60px;
    margin-bottom: 100px;
}
.information2_section > div:first-child{
    position: relative;
    flex: 3;
    padding: var(--spacing-margin-desktop);
}
.information2_section > div:last-child{
    flex: 2;
}
.information2_section .information{
    font-size: var(--font-headline-lg-size);
}
.information2_section a{
    position: absolute;
    bottom: var(--spacing-margin-desktop);
    font-size: var(--font-body-lg-size);
}
.information2_section a  > button{
    font-size: inherit;
    background-color: white;
}

.information2_section > div:last-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/************************************************/
.information3_section{
    width: 100%;
    padding: var(--main-y-padding) var(--main-x-padding);
}
.information3_section > p{
    text-align: center;
    font-size: var(--font-headline-md-size);
    margin-bottom: 52px;
    word-break: keep-all;
}
.information3_section .image_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.information3_section img{
    /*flex: 1;*/
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
}
.information3_section .image_container img:first-child{
    margin-right: 8px;
}

/************************************************/
.information4_section {
    padding: 52px;
    background-color: black;
}
.information4_section > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
}
.information4_section h2{
    font-size: var(--font-display-lg-size);
    color: white;
}
.information4_section button{
    font-size: var(--font-body-lg-size);
    align-self: center;
}

.information4_section .slide_wrapper{
    overflow: hidden;
}

.information4_section .slide_container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.information4_section .slide_container > li{
    flex-basis: 480px;
    flex-shrink: 0;
    cursor: pointer;
}
.information4_section .slide_container > li:not(:last-child){
    margin-right: 16px;
}
.information4_section .slide_container > li > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/**************************************/
footer{
    margin-top: 52px;
    background-color: black;
    color: var(--color-primary-fixed);
    padding: var(--main-y-padding) var(--main-x-padding);
    line-height: 24px;
}
footer > div{
    display: flex;
    justify-content: space-between;
}
footer .site_nav{
    display: flex;
}
footer .site_nav > div{
    width: 220px;
}
footer .site_nav h4{
    margin-bottom: 16px;
    font-size: var(--font-body-md-size);
}
footer .site_nav ul{
    display: flex;
    flex-direction: column;
}
footer .site_nav li{
    margin-bottom: 8px;
    font-size: var(--font-body-lg-size);
    color: var(--color-primary-fixed-dim);
}

footer .site_nav li a{
    color: var(--color-primary-fixed);
}


footer .sns_nav ul{
    display: flex;
    margin-bottom: 12px;
}
footer .sns_nav li{
    margin-right: 12px;
}
footer .sns_nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--color-primary-fixed);
    border-radius: 50%;
    text-decoration: none;
    color: black;
}

footer .me_information .name{
    font-size: var(--font-body-lg-size);
}
footer .me_information .email{
    font-size: var(--font-body-md-size);
}
footer .me_information .text{
    font-size: var(--font-body-md-size);
}

footer hr{
    margin: 48px 0;
    color: var(--color-primary-fixed);
    background-color: var(--color-primary-fixed);
}

.corp_information{
    font-size: var(--font-body-md-size);
}
.site_information{
    font-size: var(--font-body-md-size);
    text-align: right;
}



/***********************************************************************/
@media screen and (max-width: 1024px) {
    .edit_section{
        display: flex;
        padding: var(--main-x-padding) 0;
        flex-direction: column;
        & > h2{
            font-size: 160px;
            z-index: 1;
        }
        & .image_container {
            padding: 0 var(--main-x-padding);
            & .sub{
                right: var(--main-x-padding);
            }
        }
        & .label_container > div{
            & a{
                font-size: var(--font-headline-lg-size);
            }
        }
    }

    .information1_section{
        & .information{
            & > p{
                font-size: 20px;
            }
        }
    }

    .information2_section{
        /*height: 360px;*/
        /*padding: var(--main-x-sm-padding) var(--main-y-sm-padding);*/
        & img.logo{
            margin-bottom: var(--main-y-padding);
        }
    }
    .information2_section > div:first-child{
        position: relative;
        flex: 2;
    }
    .information2_section .information{
        font-size: 24px;
    }
}


/***********************************************************************/
@media screen and (max-width: 768px) {
    .edit_section{
        & > h2{
            font-size: 100px;
            z-index: 1;
        }
    }


    .trending_section{
        & > div{
            display: block;
            & > ul{
                display: inline-flex;
                flex-wrap: wrap;
                gap: 14px;
            }
        }
    }

    .information1_section{
        & h2{
            font-size: 40px;
        }
        & > div {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 20rem);
            & > a{
                text-decoration: none;
            }
            & .information{
                position: relative;
                & h3{
                    font-size: 36px;
                }
                & > p{
                    font-size: 20px;
                }
            }
        }
    }

    footer{
        & > hr{
            margin: var(--main-y-sm-padding) 0;
        }
        & > div:first-child{
            display: block;
            & .site_nav{
                & > div{
                    flex: 1;
                    width: unset;
                    margin-bottom: var(--main-y-sm-padding);
                }
            }
        }
        & > div:last-child{
            display: block;
            & > section{
                margin-bottom: var(--main-y-sm-padding);
                font-size: 14px;
            }
            & .site_information{
                text-align: left;
            }
        }
    }
}


/***********************************************************************/
@media screen and (max-width: 480px) {
    button{
        padding: 4px 24px!important;
        font-size: 16px!important;
        right: var(--main-x-sm-padding)!important;
        bottom: var(--main-y-sm-padding)!important;
    }


    .trending_section{
        padding: var(--main-x-sm-padding) var(--main-y-sm-padding);
        & > h2{
            font-size: 28px;
        }
        & > div{
            display: block;
            & > ul{
                display: inline-flex;
                flex-wrap: wrap;
                margin: 10px 0;
                gap: 8px;
                & li{
                    margin: unset;
                }
                & button{
                    padding: unset!important;
                    font-size: 16px!important;
                }
            }
            & .arrow_button_container{
                display: none;
            }
        }
        & > ul > li{
            width: 160px;
            & .tag{
                font-size: 14px;
            }
            & .price{
                font-size: 16px;
            }
            & .title{
                font-size: 16px;
            }
        }
    }

    .edit_section{
        display: flex;
        padding: var(--main-x-sm-padding) 0;
        flex-direction: column;
        & > h2{
            font-size: 80px;
            z-index: 1;
        }
        & .image_container {
            padding: 0 var(--main-y-sm-padding);
            & .sub{
                right: 12px;
            }
        }
        & .label_container{
            padding: var(--main-x-sm-padding) var(--main-y-sm-padding);
            & > div {
                & a {
                    font-size: 20px;
                }
            }
        }

    }

    .information1_section{
        padding: var(--main-y-sm-padding) var(--main-x-sm-padding);

        & h2{
            font-size: 30px;
        }
        & > div {
            & > a{
                text-decoration: none;
                & .information{
                    position: relative;
                    padding: var(--main-x-sm-padding) var(--main-y-sm-padding);
                    & h3{
                        font-size: 25px;
                    }
                    & > p{
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .information2_section{
        height: 100%;
        display: block;
        position: relative;
        flex-direction: column;

        & > div:first-child{
            display: flex;
            position: static;
            padding: var(--main-x-sm-padding) var(--main-y-sm-padding);
            gap: var(--main-x-sm-padding);
            & img.logo{
                grid-area: logo;
                margin: unset;
            }
            & .information{
                grid-area: information;
                position: relative;
                font-size: 16px;
            }
            & > a{
                grid-area: link;
                position: absolute;
                bottom: var(--main-x-sm-padding);
                right: var(--main-x-sm-padding);
                z-index: 1;
            }
        }
        & > div:last-child{
            display: block;
            height: 260px;
        }
    }

    .information3_section{
        padding: var(--main-y-sm-padding) var(--main-x-sm-padding);
        & > p {
            font-size: 20px;
            margin-bottom: var(--main-y-sm-padding);
        }
        & > .image_container{
            display: block;
            & > img{
                display: block;
                &:first-child{
                    margin-bottom: var(--main-y-sm-padding);
                }
            }
        }
    }

    .information4_section {
        padding: var(--main-x-sm-padding) var(--main-x-sm-padding);
        & > div {
            display: block;

            & > h2 {
                font-size: 40px;
                margin-bottom: 8px;
            }
        }
        & .slide_wrapper > .slide_container{
            /*display: inline-flex;*/
            /*overflow: hidden;*/
            height:400px;
            overflow-y: scroll;
            flex-direction: column;

            & > li > img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }


    footer{

        & > hr{
            margin: var(--main-y-sm-padding) 0;
        }
        & > div:first-child{
            display: block;
            & .site_nav{
                & > div{
                    flex: 1;
                    width: unset;
                    margin-bottom: var(--main-y-sm-padding);
                }
                & h4{
                    font-size: 14px;
                }
                & li{
                    font-size: 12px;
                }
            }
        }
        & .sns_nav{
            & li{
                margin-right: 10px;
            }
            & a{
                width: 28px;
                height: 28px;
            }
        }
        & .me_information .name{
            font-size: 12px;
        }
        & .me_information .email{
            font-size: 12px;
        }
        & .me_information .text{
            font-size: 12px;
        }

        & > div:last-child{
            & > section{
                margin-bottom: var(--main-y-sm-padding);
                font-size: 10px;
            }
        }
    }

}
